.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "PlayfairDisplay";
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: yellow;
}

/* .right-menu {
  padding-right: 20px;
} */

.top-menu li a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: white;
  height: 1px;
  transition: all 0.3s;
  transform: scale(0);
}

.top-menu li a:hover::after {
  transform: scale(1);
  background-color: yellow;
}


